/* 
    ID & Name: 222101784 Nour Ahmed Khalaf Mehani
    ID & Name: 222200002 Mohamed elsayed Nagy
    Course: CSE211 Web Programming
    Assignment: Course Project
    Date: 9 january 2025
    Description: the purpose of this css file is to style the thamk you page (thank.html) of the website
*/
#top-logo{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}
#top-logo img{
    width: 90px;
    height: auto;
}
#page-title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #BF939B;
    margin: 0;
    padding: 10px 0;
    background-color: #F2F2F2;
    border-bottom: 2px solid #BF9D8A;
}
#header{
    background-color: #F2F2F2;
    padding-left: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#main-navigation{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #BF9D8A;
    border-radius: 8px;
    padding: 10px 20px;
}
#main-navigation a{
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
}
#main-navigation a:hover{
    background-color: #FFFFFF;
    color: #BF9D8A;
    text-decoration: underline;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
}
#article{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    border-radius: 8px;
    text-align: center;
}
#footer{
    border-color: #F2F2F2;
    color: #BF939B;
    text-align: center;
    padding: 20px;
    border-top: 3px solid #F2F2F2;
    font-size: 1rem;
    line-height: 1.6;
    margin-top: auto;
}
#footer a{
    color: #bf8b94;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s ease;
}
#footer a:hover{
    color: #8FB2BF;
    text-decoration: underline;
}